<h1> Daniel Dolan Assignment 2 </h1>
<h2>The sum of the array is {{sumArray}} is <u> {{sum sumArray }} </u></h2>
<h2>The sum of the array is <u>{{sum errorArray}}</u></h2>
<h2>Comparing the two values  of  <u>{{test1}} and {{test2}} is {{eq test1 test2}}</u> </h2>
<h2>Comparing the two values  of  <u>{{test1}} and {{test3}} is {{eq test1 test3}}</u> </h2>
<h2>{{test1}} is greater than or equal to <u>{{test3}} is {{gte test1 test3}}</u> </h2>
<h2>{{test2}} is greater than or equal to <u>{{test3}} is {{gte test2 test3}}</u> </h2>
<h2>{{test1}} is greater than or equal to {{test2}} is <u>{{gte test1 test2}}</u> </h2>