<h3>Sum Function</h3>

<p>The Sum of [{{numArray}}] is {{helperSum numArray}}</p>
<p>The Sum of [{{faultyArray}}] is <h4 class='faulty'>{{helperSum faultyArray}}</h4></p>

<h4>EQ Function</h4>
<p>Is {{num1}} and {{num2}} equal? {{eq num1 num3 }}</p>
<p>Is {{num2}} and {{num3}} equal? {{eq num2 num3 }}</p>

<h4>GTE Function</h4>
<p>Is {{num1}} >= {{num3}}? {{gte num1 num3 }}</p>
<p>Is {{num4}} >= {{num3}}? {{gte num4 num3 }}</p>
<p>Is {{num2}} >= {{num3}}? {{gte num2 num3 }}</p>

<h4>Formatted Numbers</h4>
<p>The number to format is {{num5}}: {{formatednum num5}}</p>
<p>The number to format is {{num6}}: {{formatednum num6}}</p>
<p>The number to format is {{num7}}: {{formatednum num7}}</p>
<p>The number to format is {{num8}}: {{formatednum num8}}</p>