{{!-- Testing All Helpers --}}
<h1>Assignment 2 - Breakpoints + Helpers</h1>
<h1>Victoria Fischer</h1>

<br>

<p>The sum of the array [{{numArray}}] is <b>{{sumAll numArray}}</b></p>
<p>The sum of the array [{{badArray}}] is <b>{{sumAll badArray}}</b></p>


<p>Are {{compareNum1}} and {{compareNum2}} equal? <b>{{eq compareNum1 compareNum2}}</b> </p>
<p>Are {{compareNum3}} and {{compareNum4}} equal? <b>{{eq compareNum3 compareNum4}}</b> </p>


<p>Is {{compareNum1}} greater than or equal to {{compareNum2}}? <b>{{gte compareNum1 compareNum2}}</b></p>
<p>Is {{compareNum3}} greater than or equal to {{compareNum4}}? <b>{{gte compareNum3 compareNum4}}</b></p>


<p>The number to format is {{numToFormat1}}:  <b>{{formatNum numToFormat1}}</b></p>
<p>The number to format is {{numToFormat2}}: <b>{{formatNum numToFormat2}}</b></p>