<div>
<p>test eq number1 and number2 {{eq number1 number2}}</p>
<p>test eq number1 and number3 {{eq number1 number3}}</p>
<p>test gte number1 and number2 {{gte number1 number2}}</p>
<p>test gte number1 and number3 {{gte number1 number3}}</p>
<p>test sumall using array, stringNumberArr {{sumall stringNumberArr}}</p>
<p>test sumall using array, mixNumberArr {{sumall mixNumberArr}}</p>
</div>